<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add and Delete</title>
</head>
<body>
    <div>
        <label for='name'>New Employee Name</label>
        <input type='text' id='name' name='name' required>
    </div>

    <div>
        <label for='pwd'>Employee's Pin Number</label>
        <input type='password' id='pwd' name='pwd' maxlength="4" required>
    </div>
    <button type="submit">Add User</button>
    <button type="submit">Delete User</button>
    
</body>
</html>