<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meter Form</title>
</head>
<body>
    <h1>Meter Form</h1>
    <form action='/meter_form' method='POST'>
        <div>
            
            <form action="/meterLocation" method='POST'>
                <label for="text">Location</label>
                <select name="location" id="location">
                    <option value="Sabin">Sabin</option>
                    <option value="Sarmiento">Sarmiento</option>
                    <option value="Las Heras">Las Heras</option>
                </select>
            </form>
        </div>
        
        <div>
            <label for='number'>Meter Reading</label>
            <input type='number' id='number' name='number' required>
        </div>
        <label for='textarea'>Notes </label>
        <div>
            
            <textarea type='textarea' id='textarea' name='textarea' cols="35" rows="5"></textarea>
        </div>
        <button type="submit">Add</button>
        </form>
      
            <form action='/logout' method='POST'>
                <button type='submit'  >Logout</button> 
            </form>
           
    
</body>
</html>