<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meter Home Page</title>
</head>
<body>
    <h1>Log into your account</h1>
    <form action='/login' method='POST'>
        <!-- <div>
            <label for='name'>Name</label>
            <input type='text' id='name' name='name' required>
        </div> -->
        <div>
            <label for='pwd'>Pin Number</label>
            <input type='password' id='pwd' name='pwd' maxlength="4" required>
        </div>
        <button type="submit">Login</button>
        </form>
</body>
</html>